<div class="container">
<%= form_for(@requisition) do |f| %>
  <% if @requisition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requisition.errors.count, "error") %> prohibited this requisition from being saved:</h2>

      <ul>
      <% @requisition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12" align="center">
      <h2>Datos de la solicitud</h2>
    </div>
  </div>
  <br>
  <div class="field">
    <%= f.label "Monto a pedir" %><br>
    <%= f.text_field :requested_amount, label: "Monto a pedir" %>
  </div>
  <div class="field">
    <%= f.label "Términos de pago" %><br>
    <%= f.text_field :payment_terms, label: "Términos de pago" %>
  </div>
  <div class="field">
    <%= f.label "Institución bancaria" %><br>
    <%= f.text_field :bank, label: "Institución bancaria" %>
  </div>

  <div class="row">
    <div class="col-sm-12" align="center">
      <h2>Datos de su trabajo</h2>
    </div>
  </div>
  <br>
  <div class="field">
    <%= f.label "Nombre de la compañía" %><br>
    <%= f.text_field :company_name, label: "Nombre de la compañía" %>
  </div>
  <div class="field">
    <%= f.label "Teléfono de la compañía" %><br>
    <%= f.text_field :company_phone_number, label: "Teléfono de la compañía" %>
  </div>
  <div class="field">
    <%= f.label "Sueldo mensual" %><br>
    <%= f.text_field :income, label: "Sueldo (mensual)" %>
  </div>
  <div class="field">
    <%= f.label "Años en la compañía actual" %><br>
    <%= f.text_field :company_years, label: "Años en la compañía actual" %>
  </div>
  <div class="field">
    <%= f.label "Número del dependiente" %><br>
    <%= f.text_field :dependents_number, label: "Número del dependiente" %>
  </div>
  <div class="field">
    <%= f.label "Puesto dentro de la compañía" %><br>
    <%= f.text_field :company_position, label: "Puesto dentro de la compañía" %>
  </div>

  <div class="row">
    <div class="col-sm-12" align="center">
      <h2>Datos personales</h2>
    </div>
  </div>
  <br>
  <div class="field">
    <%= f.label "Años de residencia en domicilio actual" %><br>
    <%= f.text_field :address_years, label: "Años de residencia en domicilio actual" %>
  </div>
  <div class="field">
    <%= f.label "Estado civil" %><br>
    <%= f.text_field :marital_status, label: "Estado civil" %>
  </div>
  <div class="field">
    <%= f.label "¿Cuenta con SGMM?" %><br>
    <%= f.check_box :has_sgmm, label: "¿Cuenta con SGMM?" %>
  </div>
  <div class="field">
    <%= f.label "¿Cuenta con seguro del IMSS?" %><br>
    <%= f.check_box :has_imss, label: "¿Cuenta con seguro del IMSS?" %>
  </div>
  <div class="field">
    <%= f.label "¿Tiene automóvil?" %><br>
    <%= f.check_box :has_car, label: "¿Tiene automóvil?" %>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-12" align="center">
      <h2>Referencias</h2>
    </div>
  </div>
  <div class="row">
    <%# References divided into collumns %>
    <div class="col-md-4">
      Referencia 1
      <%= fields_for(@requisition.personal_references.build) do |r| %>
        <div class="field">
          <%= r.label "Nombre" %><br>
          <%= r.text_field :first_name, label: "Nombre" %>
        </div>
        <div class="field">
          <%= r.label "Segundo nombre" %><br>
          <%= r.text_field :second_name, label: "Segundo nombre" %>
        </div>
        <div class="field">
          <%= r.label "Apellido paterno" %><br>
          <%= r.text_field :first_last_name, label: "Apellido paterno" %>
        </div>
        <div class="field">
          <%= r.label "Apellido materno" %><br>
          <%= r.text_field :second_last_name, label: "Apellido materno" %>
        </div>
        <div class="field">
          <%= r.label "Teléfono celular" %><br>
          <%= r.text_field :cell_phone_number, label: "Teléfono celular" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-4">
      Referencia 2
      <%= fields_for(@requisition.personal_references.build) do |r| %>
        <div class="field">
          <%= r.label "Nombre" %><br>
          <%= r.text_field :first_name, label: "Nombre" %>
        </div>
        <div class="field">
          <%= r.label "Segundo nombre" %><br>
          <%= r.text_field :second_name, label: "Segundo nombre" %>
        </div>
        <div class="field">
          <%= r.label "Apellido paterno" %><br>
          <%= r.text_field :first_last_name, label: "Apellido paterno" %>
        </div>
        <div class="field">
          <%= r.label "Apellido materno" %><br>
          <%= r.text_field :second_last_name, label: "Apellido materno" %>
        </div>
        <div class="field">
          <%= r.label "Teléfono celular" %><br>
          <%= r.text_field :cell_phone_number, label: "Teléfono celular" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-4">
      Referencia 3
      <%= fields_for(@requisition.personal_references.build) do |r| %>
        <div class="field">
          <%= r.label "Nombre" %><br>
          <%= r.text_field :first_name, label: "Nombre" %>
        </div>
        <div class="field">
          <%= r.label "Segundo nombre" %><br>
          <%= r.text_field :second_name, label: "Segundo nombre" %>
        </div>
        <div class="field">
          <%= r.label "Apellido paterno" %><br>
          <%= r.text_field :first_last_name, label: "Apellido paterno" %>
        </div>
        <div class="field">
          <%= r.label "Apellido materno" %><br>
          <%= r.text_field :second_last_name, label: "Apellido materno" %>
        </div>
        <div class="field">
          <%= r.label "Teléfono celular" %><br>
          <%= r.text_field :cell_phone_number, label: "Teléfono celular" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="field row">
    <div class="col-md-12" align="center">
      <h2>Comentarios</h2>
      <br>
      <%= f.text_area :comment, label: "Comentarios" %>
    </div>
  </div>
  <div class="actions row">
    <%= f.submit "Crear solicitud" %>
  </div>
<% end %>
</div>